#hex {
    text-align: center;
    padding-top: 35vh;
    font-family: 'Questrial';
    font-size: 6vh;
    color: #ffffff;
}

#name {
    text-align: center;
    font-family: 'Questrial';
    font-size: 6vh;
    color: #ffffff;
}

body {
    background-color: #000000;
}